html, body  {
    height: 100%;
}
header {
    background-color: #BCDFDF;
    width: 100%;
    height: 30px;
}
main {
    background-color: #BCDFDF;
    width: 100%;
    height: 500px;
}
aside {
    background-color: white;
    width: 100%;
    height: max-content;
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav {
    background-color: #BCDFDF;
    float: right;
    padding-top: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding-inline-end: 20px;
    font-family: 'Dancing Script', cursive;
}
h1 {
    padding-top: 100px;
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
}
*{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
img {
    border-radius: 30%;
    box-shadow: 2px 2px 2px grey;
    margin: 10px;
    
}
img:hover {
    box-shadow: 6px 6px 6px grey;
}


h4 {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Satisfy', cursive;
}
h2 {
    text-align: center;
    border: 2px black;
    border-radius: px;
    opacity: .8;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}
#restaurant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logo img {
    border-radius: 50%;
    margin-left: 650px;
    margin-top: 0px;
}
.footer {
     background-color: #303036 ;
     color: #D3D3D3;
     height: 400px;
     position: relative;
}
.footer .footer-bottom {
    background-color: #343A40;
    color: #686868;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    width: 100%;
}
.footer .footer-top {
    display: flex;
    height: 350px;
}
.footer .footer-top h4 {
    flex: 1;
    border: 2px solid white;
    margin-left: 30px;
    text-align: center;
    margin-top: 10px;
}
.footer .footer-top h4 span {
    color: aqua;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.footer .footer-top h4 p b {
    color: black;
}