header {
    background-color: #BCDFDF;
    width: 100%;
    height: 30px;
}
main {
    background-color: #BCDFDF;
    width: 100%;
    height: 500px;
}
aside {
    background-color: white;
    width: 100%;
    height: max-content;
}
footer {
    background-color: rgb(116, 101, 101);
    width: 100%;
    height:300px;
}
nav {
    background-color: #BCDFDF;
    float: right;
    padding-top: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding-inline-end: 20px;
    font-family: 'Dancing Script', cursive;
}
h1 {
    padding-top: 100px;
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
}
*{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
img {
    margin-left: 5px;
    border-radius: 30%;
    box-shadow: 2px 2px 2px grey;
}

img:hover {
    box-shadow: 6px 6px 6px grey;
}

h4 {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Satisfy', cursive;
}

h2 {
    text-align: center;
    border: 2px black;
    border-radius: px;
    opacity: .8;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}

#restaurant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo img {
    border-radius: 50%;
    margin-left: 650px;
    margin-top: 0px;
}
.restaurant